.container{
    position: relative;
    margin: 10rem auto;
    display: grid;
    height: 400px;
    min-width: 200px ;
    place-content: center;
    padding-bottom: 900px;
}
.title{
    position: relative;
    z-index: 1;
    font-size: 3rem;
}
.containerDiv{
    background: red;
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 10;
}