@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --Purple-100: #dacffc;
  --Purple-500: #7650dc;
  --Yellow-100: #f9eee1;
  --Yellow-500: #ffcb6b;
  --White: #ffffff;
  --Black: #121212;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  background: rgb(233, 233, 233);
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
  padding: 2rem 1rem;
  width: 100%;
  min-height: 100vh;
}

/* First Component */
.containerFirst {
  width: 100%;
  background: var(--Purple-500);
  border-radius: 1rem;
  padding: 3rem;
}
.containerFirst h2 {
  color: var(--White);
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
}
.containerFirst h2 span {
  color: var(--Yellow-500);
}
.containerFirst figure {
  width: 100%;
  display: flex;
  justify-content: center;
}
.containerFirst img {
  width: 80%;
  margin: 2rem 0;
}
.containerFirst p {
  color: var(--Yellow-100);
  font-size: 2rem;
  text-align: center;
}

/* Second Component */
.secondContainer {
  width: 100%;
  background: var(--White);
  border-radius: 1rem;
  margin-block: 3rem;
  padding: 2rem;
}
.secondContainer figure {
  width: 100%;
}

.secondContainer figure img {
  width: 100%;
}
.secondContainer h2 {
  color: var(--Black);
  font-weight: 700;
  font-size: 2.2rem;
  margin-block-start: 2rem;
  line-height: 2.3rem;
}
/* Third Component */
.thirdContainer {
  width: 100%;
  height: 25rem;
  background: var(--Yellow-500);
  border-radius: 1rem;
  padding: 2rem;

}
.thirdContainer h2 {
  color: var(--Black);
  font-weight: 700;
  font-size: 2.2rem;
}
.thirdContainer figure {
  width: 100%;
  position: relative;
  position: absolute;
  bottom: -0.3rem;
}
.thirdContainer figure img {
  width: 60%;
}

/* Fourth Component */
.fourthContainer {
  width: 100%;
  background: var(--Purple-100);
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem 0;
}
.fourthContainer h2 {
  color: var(--Black);
  font-weight: 700;
  font-size: 2.3rem;
  margin-block-end: 2rem;
}
.fourthContainer figure {
  width: 100%;
}

.fourthContainer figure img {
  width: 100%;
}
.fourthContainer p {
  margin-block-start: 1rem;
  color: var(--Black);
  font-weight: 500;
  font-size: 1.9rem;
  text-align: center;
  line-height: 1.8rem;
}

/* Fifth Component */
.fifthContainer {
  width: 100%;
  background: var(--Purple-500);
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem 0;
}
.fifthContainer h2 {
  color: var(--White);
  font-weight: 400;
  font-size: 3rem;
  line-height: 2.5rem;
  text-align: center;
  margin-block-start: 3rem;
}
.fifthContainer figure {
  width: 100%;
  display: flex;
  justify-content: center;
}

.fifthContainer figure img {
  width: 80%;
}
/* Sixth Component */
.sixthContainer {
  width: 100%;
  background: var(--White);
  border-radius: 1rem;
  padding: 2rem;
}
.sixthContainer h2 {
  color: var(--Black);
  font-weight: 600;
  font-size: 4rem;
}
.sixthContainer p {
  color: var(--Black);
  font-weight: 600;
  font-size: 1.6rem;
  margin-block-end: 2rem;
}
.sixthContainer figure {
  width: 100%;
}

.sixthContainer figure img {
  width: 50%;
}
/* Seventh Component */
.seventhContainer {
  width: 100%;
  background: var(--Yellow-100);
  border-radius: 1rem;
  padding: 2rem;
  margin-block-start: 2rem;
}
.seventhContainer h2 {
  color: var(--Black);
  font-weight: 600;
  line-height: 2.5rem;
  font-size: 3rem;
}
.seventhContainer h2 i {
  color: var(--Purple-500);
}
.seventhContainer figure {
  width: 100%;
  margin: 2rem 0 1rem;
}

.seventhContainer figure img {
  width: 60%;
}
/* Eighth Component */
.eighthContainer {
  width: 100%;
  background: var(--Yellow-500);
  border-radius: 1rem;
  padding: 2rem;
  margin-block-start: 2rem;
}
.eighthContainer h2 {
  color: var(--Black);
  font-weight: 600;
  line-height: 2.5rem;
  font-size: 3rem;
}
.eighthContainer figure {
  width: 100%;
  margin: 2rem 0 1rem;
}
.eighthContainer figure img {
  width: 70%;
}

@media (min-width: 1024px) {
  .gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25rem);
    grid-template-rows: repeat(10, 6.5rem);
    height: 100vh;
    justify-content: center;
    gap: 2rem;
    grid-template-areas:
      "one two two three "
      "one two two three "
      "one two two three "
      "one two two three "
      "one five six three "
      " four five six three "
      " four five six three "
      " four seven eigth eigth "
      " four seven eigth eigth "
      " four seven eigth eigth ";
  }
  .containerFirst {
    padding-block-start: 7rem;
    grid-area: two;
    h2{
      line-height: 5rem;
      font-size: 5.5rem;
    }
    figure{
      img{
       width: 40%;
      }
    }
  }

  .secondContainer {
    grid-area: five;
    margin-block: 0;
    overflow: hidden;
      figure {
      img{
        width: 150%;
      }
    }
    h2{
      font-size: 2.8rem;
      line-height: 2.4rem;
    }
  }

  .thirdContainer {
    grid-area: six;
    overflow: hidden;
    height: 100%;
    h2{
      font-size: 3rem;
      line-height: 2.6rem;
    }
    figure{
      bottom: -6.3rem;
      img{
       width: 80%; 
      }
    }
  }

  .fourthContainer {
    grid-area: three;
    height: 100%;
    margin-block: 0;
    padding-block-start: 5rem;
    overflow: hidden;
    h2{
      font-size: 3rem;
      line-height: 3rem;
    }
    figure{
      position: relative;
      height: 65%;
      img {
        position: absolute;
        width: 172%;
        height: 100%;
      }
    }
    p{
      text-align: start;
      font-size: 1.6rem;
      padding-inline-end: 4rem;
      line-height: 1.6rem;
    }
  }

  .fifthContainer {
    grid-area: eigth;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    h2{
      font-size: 3.5rem;
      line-height: 3rem;
      margin: 0;
      text-align: start;
    }
    figure{
      width: 50%;
      height: 100%;
      img{
        height: 100%;
      }
    }
  }

  .sixthContainer {
    grid-area: seven;
    h2{
      font-size: 6rem;
    }
    p{
      font-size: 1.8rem;
      margin-block-end: 3rem;
    }
    figure{
      display: flex;
      justify-content: center;
      img{
        width: 80%;
      }
    }
  }
  .seventhContainer {
    margin-block-start: 0;
    padding-block-start: 7rem;
    grid-area: one;
    h2{
      font-size: 4rem;
      line-height: 4rem;
    }
    figure{
      display: flex;
      justify-content: center;
      img{
        width: 80%;
      }
    }
  }
  .eighthContainer {
    grid-area: four;
    margin-block-start: 0;
    h2{
      font-size: 3.5rem;
      line-height: 2.9rem;
    }
    figure{
      height: 65%;
      margin-block-start: 3.5rem;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
